.parent{
    -fx-background-color: white;
}
.buttonsyle{
    -fx-background-color: rgb(216, 133, 163);
    -fx-text-fill: white;
    -fx-background-radius: 30 30 30 30;
}
.textstyle{
    -fx-font-family: "Microsoft Tai Le";
}
.textField{
    -fx-background-color: rgb(192, 219, 234);
}
.textFieldStyle{
    -fx-font-family: "Comic Sans MS";
}
