.parent{
    -fx-background-color: linear-gradient(to left, rgba(0, 131, 176, 0.8), rgba(219, 0, 158, 0.77));
}
.buttonsyle{
    -fx-background-color: rgb(216, 133, 163);
    -fx-text-fill: white;
    -fx-background-radius: 30 30 30 30;
}
.textstyle{
    -fx-font-family: "Microsoft Tai Le";
}
.textField{
    -fx-background-color: rgb(192, 219, 234);
}
.textFieldStyle{
    -fx-font-family: "Comic Sans MS";
}
.helloMesage{
    -fx-font-family: "Microsoft Tai Le";
    -fx-alignment: CENTER;
}
.buttonbar{
    -fx-background-color: rgb(192, 219, 234);
}

